@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:ital,wght@1,600&family=Quattrocento:wght@700&display=swap');

@font-face {
    font-family: 'butler';
    src: url('resource/ButlerStencil-ExtraBold.woff2') format('woff2'),
        url('resource/ButlerStencil-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'nova-medium';
    src: url('resource/Metropolis-Medium.woff2') format('woff2'),
        url('resource/Metropolis-Medium.woff') format('woff');
    font-weight: normal;
    /* font-style: normal; */

}

@font-face {
    font-family: 'Playfair';
    src: url('resource/PlayfairDisplay-Regular.ttf') format('ttf');
    font-weight: normal;
    /* font-style: normal; */
}


a.fav-link {
    font-weight: bold;
    font-size: 1.0rem;
    display: inline-block;
    float: none;
    font-family: "WebFont", 'Playfair', serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}
p.fav-question {

    font-weight: bold;
    font-size: 1.0rem;
    display: inline-block;
    float: none;
    font-family: "WebFont", 'Playfair', serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

}
p.fav-link {

    font-family: "WebFont", 'Playfair', serif;
    color: black;
}

a.nav-link {
    font-size: 1.5rem;
}

body {
    margin: 0;
    background-color: #adcceb
}

.col-map {
    margin: 0 auto;
}

div.display-1 {

    font-family: 'WebFont', butler, serif;
    margin-left: 5vw;
}

div.display-6 {

    font-family: 'WebFont', 'Playfair', serif;
    /* font-size: 1.5rem; */
    font-weight: normal;
    letter-spacing: .3em;
    margin-left: 5vw;
    text-transform: uppercase
}



h1.header {
    font-family: 'WebFont', butler, serif;
    font-size: 6rem;
    /* margin-bottom: 0px; */
    margin-left: 5vw;
    /* margin-top: 20px; */
}

h4.header {
    font-family: 'WebFont', nova, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .3em;
    margin-left: 5vw;
    text-transform: uppercase
}

h4.group-header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.2rem;
    /* text-transform: lowercase; */
    margin-left: 0vw;
}

h4.sub-header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: lowercase;
    margin-left: 0vw;
}

header[role="banner"] {
    display: block;
    margin: 20px auto;
}

.image-container {
    height: min(calc(90vh - 175px),calc(.75 * 100vw));
    width: min(90vw, calc(1.33* (90vh - 175px)));
    display: block;
    margin-left: 5vw;
    background-image: url('resource/map_complete.webp');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

#map {
    height: 50vh;
    width: 100%
}

#navbar-primary.navbar-default {
    /* background: transparent; */
    --bs-bg-opacity: 0;
    border: none;
}

#navbar-primary.navbar-default .navbar-nav {
    width: 90%;
    text-align: center;
}

#navbar-primary.navbar-default .navbar-nav>li {
    display: inline-block;
    float: none;
    font-family: "WebFont", 'Playfair', serif;
}

#navbar-primary.navbar-default .navbar-nav>li>a {
    /* padding-left: 30px; */
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    border-radius: 10px;
}

#navbar-primary.navbar-default .navbar-nav>.active>a {
    /* background-color: #b0cdd1;  */
    background-color: #e1dbd4;
    color: black;
    /* font-weight: bold */
}

.navbar-toggler-icon {
    width: 4em;
    height: 4em;
}

.navbar-fluid {
    margin-left: 5vw;
    padding-left: 2px;
}

div.email {
    font-family: 'WebFont', 'Playfair', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

p.nova {
    font-family: 'WebFont', nova, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}


@media screen and (min-width: 320px) {
    .col-map {
        width: 100%;
    }

    h4.group-header {
        font-size: 6vw
    }

    h4.sub-header {
        font-size: 5vw
    }

    div.detail-fill {
        height: 1vh
    }

    p.nova {
        /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
        font-size: 3vw
    }

    div.email {
        font-size: 3vw
    }
    .header_img {
        width: 50vw;
    }
}

@media screen and (min-width: 1000px) {
    .col-map {
        width: 60vw;
    }

    h4.group-header {
        font-size: 4vh
    }

    h4.sub-header {
        font-size: 1.8vw
    }

    p.nova {
        font-size: 22px;
    }

    div.email {
        font-size: 22px;
    }

    div.detail-fill {
        height: 5vh
    }

    .header_img {
        width: 30vw;
    }
}

.registry_button {
    /*border-style: solid;*/
    display: block;
    height: 300px;
    padding: 50px;
}
.registry_button_hidden {
    /*border-style: solid;*/
    display: block;
    height: 10px;
    padding-top: 0px;
}

.registry_row_split {
    margin-bottom: 0;
}

.registry_row_center_hidden {
    /*border-style: solid;*/
    justify-content: center;
    margin-top: 0;
    /* height: 1rem; */
}
.registry_row_center {
    /*border-style: solid;*/
    justify-content: center;
    margin-top: calc(-.3 * var(--bs-gutter-y));/* margin-top: /0 */
}

.registry_inset {
    display: block;
    height: 200px;
    background-color: #e1dbd4;
    color: black ;
    font-family: 'Playfair';
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 10px;
}

.registry_inset_hidden {
    display: block;
    height: 1rem;
    background-color: #adcceb;
    color: #adcceb ;
    font-family: 'Playfair';
    text-transform: uppercase;
    font-size: 1.5rem
}

.textnormal {
    font-family: 'WebFont', 'Playfair', serif;
    font-weight: normal;
}

.textupper {
    font-family: 'WebFont', 'Playfair', serif;
    font-weight: normal;
    text-transform: uppercase;
}